[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = ">=4.0.3"
pytest = "*"
twine = "*"
coveralls = "*"
pytest-cov = "*"
setuptools_scm = "*"

[dev-packages]
pybridgeapi = {editable = true,path = "./api"}
