openapi: 3.0.0
# Added by API Auto Mocking Plugin
servers:
  - description: Bankin bridgeapi.io server
    url: https://sync.bankin.com/v2
info:
  description: bridgeapi.io
  version: "1.0.0"
  title: Bridge API
paths:
  /users:
    post:
      summary: Create a User
      operationId: createUser
      security:
      - ClientId:     []
        ClientSecret: []
      parameters:
        - in: query
          name: email
          description: User's email address.
          required: true
          schema:
            type: string
        - in: query
          name: password
          description: |
            User's password.
            Must be at least 6 characters and less than 255 characters.
          required: true
          schema:
            type: string
            minLength: 6
            maxLength: 255
      responses:
        '200':
          description: created User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    delete:
      summary: Delete all users
      operationId: deleteAllUsers
      security:
      - ClientId:     []
        ClientSecret: []
      responses:
        '204':
          description: successful deletion
    get:
      summary: List users
      operationId: listUsers
      security:
      - ClientId:     []
        ClientSecret: []
      responses:
        '200':
          description: paginated list of users
          resources:
            type: array
            items:
              $ref: '#/components/schemas/User'
          pagination:
            type: object
            properties:
              previous_uri:
                type: string
              next_uri:
                type: string
  /users/{uuid}:
    put:
      summary: edit User's credentials
      operationId: editUser
      security:
      - ClientId:     []
        ClientSecret: []
      parameters:
        - in: query
          required: true
          name: current_password
        - in: query
          required: true
          name: new_password
    delete:
      summary: delete a User
      operationId: deleteUser
      security:
      - ClientId:     []
        ClientSecret: []
      parameters:
        - in: query
          required: true
          name: password
  /users/me/email/confirmation:
    get:
      summary: check Email Validation
      operationId: checkEmailValidation
      security:
      - ClientId:     []
        ClientSecret: []
  /banks:
    get:
      summary: get All banks
      operationId: getAllBanks
      security:
      - ClientId:     []
        ClientSecret: []
      responses:
        '200':
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref : '#/components/schemas/ParentBanks'
                pagination:
                  type: object
                  properties:
                    previous_url:
                      type: string
                    next_uri:
                      type: string

  /authenticate:
    post:
      summary: Authenticate a User
      operationId: authenticateUser
      security:
        - ClientId:     []
          ClientSecret: []
      parameters:
        - name: email
          in: query
          description: User's email address.
          required: true
          schema:
            type: string
        - name: password
          in: query
          description: |
            User's password.
            Must be at least 6 characters and less than 255 characters.
          required: true
          schema:
            type: string
            minLength: 6
            maxLength: 255
      responses:
        '200':
          description: authenticated User
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  access_token:
                    type: string
                  expires_at:
                    type: string
                    format: datetime
                    example: "2016-05-06T11:08:25.040Z"

components:
  securitySchemes:
    ClientId:
      type: apiKey
      in: query
      name: client_id
    ClientSecret:
      type: apiKey
      in: query
      name: client_secret
  schemas:
    User:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 79c8961c-bdf7-11e5-88a3-4f2c2aec0665
        email:
          type: string
          example: john.doe@email.com
        resource_type:
          type: string
        resource_url:
          type: string
    BankCountry:
      type: object
      properties:
        country_code:
          type: string
        parent_banks:
          type: array
          items:
            $ref: '#/components/schemas/ParentBank'
    ParentBank:
      type: object
      properties:
        name:
          type: string
        logo_url:
          type: string
        banks:
          type: array
          items: '#/components/schemas/Bank'
    Bank:
      type: object
      properties:
        id:
          type: integer
        resource_uri:
          type: string
        resource_type:
          type: string
        name:
          type: string
        country_code:
          type: string
        automatic_refresh:
          type: boolean
        form:
          type: array
          items:
            $ref '#/components/schemas/BankForm'
    BankForm:
      type: object
      properties:
        label:
          type: string
          example: 'Numéroclient'
        type:
          type: string
          example: 'USER'
        isNum:
          type: string
        maxLength:
          type: int